body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer-full {
  margin-top: auto;
}

.footer-full {
  width: 100%;
  background: #1f2428;
  padding: 60px 0 30px 0;
  color: rgb(70, 77, 114);
}

.footer-container {
  width: 100%;
  padding-left: 80px;
  padding-right: 80px;
}

.footer-column h4 {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 20px;
  text-transform: uppercase;
  margin-left: 70px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
  margin-left: 70px;
}

.footer-column ul li a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s ease;
  display: inline-block;
}

.footer-column ul li a:hover {
  color: rgb(136, 68, 155);
  transform: translateX(5px);
}
