@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(#050505, #464040);
    min-height: 100vh;
    color: white;
}